.outerbox {
    display: block;
    position: absolute;
    width: 473px;
    height: 700px;
    border: 2px solid black;
    left: 150px;
    top: 150px;
    box-sizing: border-box;
    background-image: url('../assets/poster.jpg');
    background-size: contain;
}

.dragframe {
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-drag {
    .mat-icon {
        color: white;
        cursor: move;
    }
}

$drag-handle-size: 1px;

.ne-drag,
.se-drag,
.sw-drag,
.nw-drag,
.n-drag,
.e-drag,
.s-drag,
.w-drag {
    position: absolute;
    border: $drag-handle-size solid white;
    width: 15px;
    height: 15px;
}

.ne-drag,
.n-drag,
.nw-drag {
    top: 0px;
}

.ne-drag,
.e-drag,
.se-drag {
    right: 0px;
}

.se-drag,
.s-drag,
.sw-drag {
    bottom: 0px;
}

.sw-drag,
.w-drag,
.nw-drag {
    left: 0px;
}

.ne-drag {
    cursor: ne-resize;
}

.e-drag {
    cursor: e-resize;
}

.se-drag {
    cursor: se-resize;
}

.s-drag {
    cursor: s-resize;
}

.sw-drag {
    cursor: sw-resize;
}

.w-drag {
    cursor: w-resize;
}

.nw-drag {
    cursor: nw-resize;
}

.n-drag {
    cursor: n-resize;
}

.marker {
    position: absolute;
    border: 1px solid green;
    top: 90px;
    left: 200px;
    width: 10px;
    height: 10px;
}

[appDragShadow] {
    display: block;
    position: absolute;
    // border: 1px solid green;
    z-index: 5;
    background-color: black;
    opacity: 0.6;
}
