<div class="outerbox" #dragBox app-drag>
    <div class="dragframe" appDragFrame [appDragFrameParent]="dragBox">
        <div class="center-drag" #test appDragHandle="move">
            <mat-icon>open_with</mat-icon>
        </div>
        <div class="ne-drag" appDragHandle="resize-ne"></div>
        <div class="se-drag" appDragHandle="resize-se"></div>
        <div class="sw-drag" appDragHandle="resize-sw"></div>
        <div class="nw-drag" appDragHandle="resize-nw"></div>
        <div class="n-drag" appDragHandle="resize-n"></div>
        <div class="e-drag" appDragHandle="resize-e"></div>
        <div class="s-drag" appDragHandle="resize-s"></div>
        <div class="w-drag" appDragHandle="resize-w"></div>
    </div>
    <div appDragShadow="top"></div>
    <div appDragShadow="left"></div>
    <div appDragShadow="right"></div>
    <div appDragShadow="bottom"></div>
</div>
<button style="position: absolute; left: 700px; top: 100px" (click)="GetCrop()">Get Crop</button>
<img id="srcImage" style="position: absolute; left: 700px; top: 150px; display: none" src="assets/poster.jpg" />
<div style="position: absolute; left: 700px; top: 150px">Result:</div>
<canvas
    id="destCanvas"
    style="position: absolute; left: 700px; top: 175px; width: 300px; height: 300px; border: 1px solid black"
    width="300"
    height="300"
></canvas>
<a id="downloadLink">Download</a>
